.adminchitietphieunhapkho {
  background-color: #F7F7F8;
}
.adminchitietphieunhapkho .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
  height: 100%;
}
.adminchitietphieunhapkho .main-home{
  display: flex;
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
}

.adminchitietphieunhapkho .main-home .title_chucnang{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.adminchitietphieunhapkho .main-home .title_chucnang p{
  font-size: 26px;
  font-weight: 600;
  color: #3871C1;
}
.adminchitietphieunhapkho .main-home .title_chucnang i{
  font-size:26px;
  margin-right: 5px;
  color: #3871C1;
  margin-top: 8px;
}
.adminchitietphieunhapkho .main-home .line {
  height: 1px;
  background-color: #cccccc;
  width: 100%;
}  

.adminchitietphieunhapkho .container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
}  

.adminchitietphieunhapkho .container .body_container{
  display: flex;
  width: 96%;
  background-color: white;
  height: 1000px;
  flex-direction: column;
} 

.adminchitietphieunhapkho  .body_container .header_body{
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #cccccc;
  align-items: center;
} 

.adminchitietphieunhapkho  .body_container .header_body .btnBack{
  display: flex;
  color: #757575;
  padding: 5px;
  text-decoration: none;
} 

.adminchitietphieunhapkho  .body_container .header_body .ma_hoa_don{
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
} 
.adminchitietphieunhapkho  .body_container .header_body .ma_hoa_don .line_col{
  display: flex;
  height: 50%;
  width: 2px;
  background-color: #757575;
  margin: 0 20px;
}

.adminchitietphieunhapkho  .body_container .main_body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.adminchitietphieunhapkho  .body_container .main_body .item_sanpham{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  background-color:#FAFAFA ;
  padding: 0 10px;
} 

.adminchitietphieunhapkho  .body_container .main_body .info_sanpham{
  display: flex;
  flex-direction: column;
} 

.adminchitietphieunhapkho .main_body .tong_tien{
  display: flex;
  width: 100%;
  flex-direction: column;
} 

.adminchitietphieunhapkho .main_body .tong_tien .item_body{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 40px;
  justify-content: end;
  align-items: end;
  align-items: center;
} 
.adminchitietphieunhapkho .main_body .tong_tien .item_body .title{
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  color: #737373;
  font-weight: 700;
  font-size: 22px;
} 
.adminchitietphieunhapkho .main_body .tong_tien .item_body .content{
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  color: #3871C1;
  font-weight: 600;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
} 