.adminquanlythuoc {
  background-color: #F7F7F8;
}
.adminquanlythuoc .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
  height: 100%;
}
.adminquanlythuoc .main-home{
  display: flex;
  margin-top: 60px;
  width: 100%;
}
.adminquanlythuoc .main-home .title_chucnang{
  display: flex;
  height: 100px;
  width: 100%;
}