.adminthongkesanpham {
  background-color: #F7F7F8;
}
.adminthongkesanpham .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
  height: 100%;
}
.adminthongkesanpham .main-home{
  display: flex;
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
}

.adminthongkesanpham .main-home .title_chucnang{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.adminthongkesanpham .main-home .title_chucnang p{
  font-size: 26px;
  font-weight: 600;
  color: #3871C1;
}
.adminthongkesanpham .main-home .title_chucnang i{
  font-size:26px;
  margin-right: 5px;
  color: #3871C1;
  margin-top: 8px;
}
.adminthongkesanpham .main-home .line {
  height: 1px;
  background-color: #cccccc;
  width: 100%;
}  

.adminthongkesanpham .main-home .btn_doanhthu {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 20px;
  align-items: center;
  
}  

.adminthongkesanpham .main-home .btn_doanhthu span{
  font-size: 18px;
  font-weight: 700;
  color:#4B4B4B;
  margin-right: 10px;
  
} 

.adminthongkesanpham .main-home .btn_doanhthu a{
  font-size: 18px;
  font-weight: 700;
  color: #3871C1;
  border: 1px solid #cccccc;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
} 
.adminthongkesanpham .main-home .btn_doanhthu .active{
  color: white;
  background-color: #3871C1;
} 

.adminthongkesanpham #menu1 form {
  background-color: white;
}  

.adminthongkesanpham #menu1 form .tong_danhthu{
  align-self: flex-end;
  font-weight: 700;
  font-size: 20px;
  color: red;
}  

.adminthongkesanpham #menu1 .card-header a{
  color: red;
}  

.adminthongkesanpham form thead {
  background-color: #F4F7F9;
  color: #3871C1;
}  