@charset "UTF-8";
:root {
  -text: #06a881;
  -blue: #4da1e8;
  -textbold: #333333;
  -text: #667580;
  -textblue: #1da1f2;
  -line: #cccccc;
  -textred: #ff0000;
  -headertable: #f3f7f9;
  -textmiddle: #003f65;
  -textmiddle022: #0c6fbe;
  -inputdadien: #e8f0fe;
}
.doimatkhau {
  background-color: #F7F7F8;
}

.doimatkhau .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
  height: 100%;
}
.doimatkhau .main-home-nv {
  display: flex;
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
}
.doimatkhau .main-home-nv .title_chucnang{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.doimatkhau .main-home-nv .title_chucnang p{
  font-size: 26px;
  font-weight: 600;
  color: #3871C1;
}
.doimatkhau .main-home-nv .title_chucnang i{
  font-size:26px;
  margin-right: 5px;
  color: #3871C1;
  margin-top: 8px;
}
.doimatkhau .main-home-nv .line {
  height: 1px;
  background-color: #cccccc;
  width: 100%;
}  
.doimatkhau .img_background_login {
  display: flex; 
  justify-content: center;
  background-color: #DCDFE4;
}

.mainLogin{
  display: flex; 
  height: 600px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.mainLoginKH{
  display: flex; 
  height: 90%;
  justify-content: center;
  width: 60%;
  padding-top: 10px;
  background-color:white;
  border-radius: 20px;
}
.mainLoginKH .textLogin{
  width: 100%;
  display: flex; 
  height: 100px;
  justify-content: center;
  align-items: center;
}
.doimatkhau h1 {
  color: #296088;
  font-weight: 600;
}
.doimatkhau .div_input {
  /* flex-direction: column; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.doimatkhau .div_input form{
  flex-direction: column;
  display: flex;
  width: 90%;
  align-items: center;
  height: 100%;
}
.doimatkhau .div_input .div_input_row{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin-bottom: 15px;
  margin-top: 20px;
}
.doimatkhau .div_input .div_input_row #btnRePassword,
.doimatkhau .div_input .div_input_row #btnPassword{
  border: none;
  height: 43px;
  width: 50px;
  position: absolute;
  top: 35px;
  right: 0px;
  display: flex; 
  justify-content: center;
  align-items: center;
}


.doimatkhau .div_input .div_input_row label{
  color: #296088;
  font-size: 18px;
  font-weight: 550;
}
/* .login .Error, */
.doimatkhau #UserName,
.doimatkhau #Email,
.doimatkhau #RePassword,
.doimatkhau #Password {
  width: 100%;
  height: 43px;
  border-radius: 6px;
  border: 1px solid #296088;
  color: #296088;
  font-style: italic;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.doimatkhau .div_btn{
  width: 50%;
  flex-direction:row;
  display: flex;
  justify-content: space-between;
}
.doimatkhau .div_btn a{
  text-decoration: none
}
.doimatkhau .div_btn p{
  color: #296088;
  font-size: 16px;
}
.doimatkhau .btnDangNhap {
  width: 100%;
  height: 48px;
  background-color: #296088;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
}
.doimatkhau .btnDangKy {
  width: 48%;
  height: 48px;
  background-color: white;
  border: 1px solid #296088;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.doimatkhau .btnDangKy p{
  margin-top: 15px;
  color: #296088;
  font-size: 22px;
  font-weight: 600;
}

.doimatkhau .div_btn_line{
  margin-top: 20px;
  width: 100%;
  flex-direction:row;
  display: flex;
  justify-content: space-between;
}
.doimatkhau .div_btn_line p{
  color: #296088;
}
.doimatkhau .div_btn_line .div_line_or{
  width: 35%;
  height: 25px;
  flex-direction:row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doimatkhau .div_btn_line .div_line_or .line_or{
  width: 100%;
  height: 2px;
  background-color: #296088;
}
.doimatkhau ::placeholder {
  color: #296088;
}
.doimatkhau .div_btn_social{
  width: 100%;
  height: 43px;
  border-radius: 6px;
  border: 2px solid #296088;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doimatkhau .div_btn_social a{
  width: 100%;
  height: 43px; 
  flex-direction:row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none
}
.doimatkhau .div_btn_social a i{
  color: #296088;
  font-size: 22px;
  margin-right: 10px;
  /* cursor: pointer; */
}
.doimatkhau .div_btn_social a p{
  color: #296088;
  font-size: 16px;
  margin-top: 15px;
}
.doimatkhau .fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.doimatkhau .fa-facebook-square {
  color: blue;
  background-color: #fff;
}
.doimatkhau .div_btn_login{
  width: 100%;
  flex-direction:row;
  display: flex;
}
.doimatkhau .div_btn_login label{
  color: #296088;
}
.doimatkhau .div_btn_login p{
  color: #296088;
  font-weight: 600;
}

.doimatkhau .div_btn_login a{
  text-decoration: none
}


.doimatkhau .div_input .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.doimatkhau .div_input .form-group-action {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.doimatkhau .div_input .form-group span {
  color: red;
}

.doimatkhau .div_input .form-group input {
  width: 100%;
  height: 43px;
  border-radius: 6px;
  border: 1px solid #296088;
  color: #296088;
  font-style: italic;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.doimatkhau .div_input  #btnLuuMatKhau {
  width: 60%;
  height: 48px;
  background-color: #296088;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
}