@charset "UTF-8";
:root {
  -gray: #6c757d;
  -blue: #007bff;
  -textbold: #333333;
  -text: #667580;
  -textblue: #1da1f2;
  -line: #cccccc;
  -textred: #ff0000;
  -headertable: #f3f7f9;
  -textmiddle: #003f65;
  -textmiddle022: #0c6fbe;
  -inputdadien: #e8f0fe;
}
.headerkh {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #3871C1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  /* top:0 */
}

.headerkh .container-header {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.headerkh .container-header .header_first{
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  align-items: center;
}
.headerkh .header_first .hotline{
  width: 30%;
  color: white;
  font-weight: 300;
  font-size: 12px;
  justify-content: center;

}
.headerkh .header_first .information{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 70%;
  color: white;
  font-weight: 300;
  font-size: 12px;
  justify-content: flex-end;
}
.headerkh .header_first .information .line{
  width: 1px;
  height: 20px;
  background-color: #D9D9D9;
  margin-left: 10px;
  margin-right: 10px;
}
.headerkh .header_first .language{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-weight: 300;

}
.headerkh .header_first .right-bar{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.headerkh .header_first .right-bar .login{
  color: white;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none
}

.headerkh .header_first li > a {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.headerkh .header_first li div a:hover {
  background-color: #ffffff;
}
.headerkh .header_first li > a > p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 450;
}

.headerkh .header_first li > a > p >i{
  font-size: 25px;
  color: #ffffff;
  font-weight: 450;
}

.headerkh .container-header .header_middle{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
}


.headerkh  .header_middle .logo{
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;

}


.header .search-bar{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}
.headerkh .search-bar form {
  width: 100%;
  position: relative;
  align-self: center;

}

.headerkh .search-bar form input {
  width: 100%;
  background-color: #fff;
  height: 50px;
  color: #3871C1;
  font-size: 14px;
  border: 1px solid #e6ecf0;
  padding: 0 15px;
  border-radius: 10px !important;
}
.headerkh .search-bar ::placeholder {
  color: #3871C1;
}
.headerkh .search-bar form input:focus {
  outline: none;
}
.headerkh .search-bar form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 38px;
  height: 100%;
  border: 0;
}
.headerkh .search-bar form button i {
  color: #3871C1;
  font-size: 20px;
}

.headerkh  .header_middle .cart{
  width: 130px;
  height: 50px;
  background-color: #003f65;
  border-radius: 10px !important;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-right: 1px;
}
.headerkh  .header_middle .cart a{
  color: #ffffff;
}

.headerkh  .header_middle .cart .iconCart{
  color: #ffffff;
  font-size: 20px;
  position: relative;
}

.headerkh  .header_middle .cart .numberCart{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  position:absolute;
  top:-10px;
  right: -10px;
  background-color: red;
  border-radius: 20px;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.headerkh .container-header .header_last{
  width: 100%;
  height: 20%;
  color: white;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}
.headerkh .container-header .header_last .line{
  width: 10px;
}


.headerkh .left-bar{
  display: flex;
  align-self: center;
}
.headerkh .left-bar .divHinhAnh{
  display: flex;
  align-self: center;
  justify-content: center;
}
.headerkh .left-bar .btnTinTuc{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.headerkh .left-bar .btnTinTuc .btnTinTucMain{
  width: 100%;
  height: 20px;
}
.headerkh .left-bar .btnTinTuc a{
  height: 40px;
  text-decoration: none;
}
.headerkh .left-bar .btnTinTuc a :hover{
  color: inherit;
  text-decoration: none;
}
.headerkh .left-bar .btnTinTuc p{
  color: #ffffff;
  font-size: 22px;
  align-self: center;
  font-weight: 450;
}

.headerkh .header-left {
  float: right;
  justify-content: center;
  height: 60px;
}
.headerkh .header-left .btnTinTucMain{
  width: 100%;
  height: 10px;
}
.headerkh .navbar-collapse {
  justify-content: right;
  align-items: center;
}


.model-header-ql.open {
  display: flex;
}
.model-header-ql {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: none;
}
.model-header-ql .container-model {
  background: white;
  height: 350px;
  width: 500px;
  margin-top: 150px;
}
.model-header-ql .icon-close-header-model {
  display: flex;
  justify-content: flex-end;
}

.model-header-ql .container-model i {
  color: #3871C1;
  font-size: 60px;
}
.model-header-ql .main-doi-mat-khau-header {
  display: flex;
  margin-left: 30px;
}
.model-header-ql .main-doi-mat-khau-header .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.model-header-ql .main-doi-mat-khau-header .form-group span {
  color: red;
}

.model-header-ql .main-doi-mat-khau-header .form-group input {
  width: 450px;
}
.model-header-ql .main-doi-mat-khau-header .form-group button {
  color: #078c80;
}

.menubar {
  width: 20.4%;
  height: 1000px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}
.menubar .nav-item {
  margin-top: 20px;
}

.menubar .nav-item :hover {
  color: #06a881;
}
