@charset "UTF-8";
:root {
  -gray: #6c757d;
  -blue: #007bff;
  -textbold: #333333;
  -text: #667580;
  -textblue: #1da1f2;
  -line: #cccccc;
  -textred: #ff0000;
  -headertable: #f3f7f9;
  -textmiddle: #003f65;
  -textmiddle022: #0c6fbe;
  -inputdadien: #e8f0fe;
}
.headerkh {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #296088;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}

.headerkh .container-header {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.headerkh .left-bar{
  display: flex;
  align-self: center;
}
.headerkh .left-bar .divHinhAnh{
  display: flex;
  align-self: center;
  justify-content: center;
}
.headerkh .left-bar .btnTinTuc{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.headerkh .left-bar .btnTinTuc .btnTinTucMain{
  width: 100%;
  height: 20px;
}
.headerkh .left-bar .btnTinTuc a{
  height: 40px;
  text-decoration: none;
}
.headerkh .left-bar .btnTinTuc a :hover{
  color: inherit;
  text-decoration: none;
}
.headerkh .left-bar .btnTinTuc p{
  color: #ffffff;
  font-size: 22px;
  align-self: center;
  font-weight: 450;
}

.header .search-bar{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.headerkh .search-bar .div-search-bar{
  height: 10px;
  width: 100%;
}
.headerkh .search-bar form {
  width: 80%;
  position: relative;
  align-self: center;
}

.headerkh .search-bar form input {
  width: 100%;
  background-color: #fff;
  height: 38px;
  color: #296088;
  font-size: 12px;
  border: 1px solid #e6ecf0;
  padding: 0 15px;
  border-radius: 20px !important;
}
.headerkh .search-bar ::placeholder {
  color: #296088;
}
.headerkh .search-bar form input:focus {
  outline: none;
}
.headerkh .search-bar form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 38px;
  height: 100%;
  border: 0;
}
.headerkh .search-bar form button i {
  color: #296088;
  font-size: 16px;
}
.headerkh .right-bar{
}
.headerkh .header-left {
  float: right;
  justify-content: center;
  height: 60px;
}
.headerkh .header-left .btnTinTucMain{
  width: 100%;
  height: 10px;
}
.headerkh .navbar-collapse {
  justify-content: right;
  align-items: center;
}

.headerkh .header-left li > a {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}

.headerkh .header-left li div a:hover {
  background-color: #ffffff;
}
.headerkh .header-left li > a > p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 450;
}

.headerkh .header-left li > a > p >i{
  font-size: 25px;
  color: #ffffff;
  font-weight: 450;
}

.model-header-ql.open {
  display: flex;
}
.model-header-ql {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: none;
}
.model-header-ql .container-model {
  background: white;
  height: 350px;
  width: 500px;
  margin-top: 150px;
}
.model-header-ql .icon-close-header-model {
  display: flex;
  justify-content: flex-end;
}

.model-header-ql .container-model i {
  color: #296088;
  font-size: 60px;
}
.model-header-ql .main-doi-mat-khau-header {
  display: flex;
  margin-left: 30px;
}
.model-header-ql .main-doi-mat-khau-header .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.model-header-ql .main-doi-mat-khau-header .form-group span {
  color: red;
}

.model-header-ql .main-doi-mat-khau-header .form-group input {
  width: 450px;
}
.model-header-ql .main-doi-mat-khau-header .form-group button {
  color: #078c80;
}

.menubar {
  width: 245px;
  height: 1000px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}
.menubar .nav-item {
  margin-top: 20px;
}

.menubar .nav-item :hover {
  color: #06a881;
}
