@charset "UTF-8";
:root {
  -text: #3871C1;
  -blue: #4da1e8;
  -textbold: #333333;
  -text: #667580;
  -textblue: #1da1f2;
  -line: #cccccc;
  -textred: #ff0000;
  -headertable: #f3f7f9;
  -textmiddle: #003f65;
  -textmiddle022: #0c6fbe;
  -inputdadien: #e8f0fe;
}
.loginkhkh {
  display: flex;
  /* justify-content: center;
  align-self: center; */
  /* background-color: #003f65;  */
  background-image: url('http://datkham.kcb.vn/background-login.a55dfdeefbadaa0db071.png'); 
  height: 100%; 
  width:100%;
}
.loginkh .img_background_login {
  position: relative;
}

.loginkh .bodyMainLogin{
  display: flex; 
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 100%;
  justify-content: center;
  background-color: #DCDFE4;
}

.loginkh .mainLogin{
  display: flex; 
  height: 650px;
  justify-content: center;
  margin-top: 80px;
  border-radius: 20px;
  background-color:white;
}

.loginkh .mainLoginKH{
  display: flex; 
  height: 90%;
  justify-content: center;
  width: 98%;
  padding-top: 10px;
}
.loginkh .mainLoginKH .logo{
  width: 100%;
  display: flex; 
  height: 180px;
  justify-content: center;
  margin-top: 10px;
}
.loginkh .mainLoginKH .textLogin{
  width: 100%;
  display: flex; 
  height: 100px;
  justify-content: center;
  align-items: center;
}
.loginkh h1 {
  color: #3871C1;
  font-weight: 600;
}
.loginkh .div_input {
  /* flex-direction: column; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.loginkh .div_input form{
  flex-direction: column;
  display: flex;
  width: 90%;
  align-items: center;
  height: 100%;
}
.loginkh .div_input .div_input_row{
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.loginkh .div_input .div_input_row #btnPassword{
  border: none;
  height: 43px;
  width: 50px;
  position: absolute;
  top: 35px;
  right: 0px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.loginkh .div_input .div_input_row label{
  color: #3871C1;
  font-size: 18px;
  font-weight: 550;
}
/* .loginkh .Error, */
.loginkh #UserName,
.loginkh #Password {
  width: 100%;
  height: 43px;
  border-radius: 6px;
  border: 1px solid #3871C1;
  color: #3871C1;
  font-style: italic;
  font-size: 14px;
  padding-left: 15px;
  outline: none;
}
.loginkh .div_btn{
  width: 100%;
  flex-direction:row;
  display: flex;
  justify-content: space-between;
}
.loginkh .div_btn a{
  text-decoration: none
}
.loginkh .div_btn p{
  color: #3871C1;
  font-size: 16px;
}
.loginkh .btnDangNhap {
  width: 100%;
  height: 48px;
  background-color: #3871C1;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
}

.loginkh .btnDangNhapKH {
  width: 48%;
  height: 48px;
  background-color: #3871C1;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
}

.loginkh .btnDangKy {
  width: 48%;
  height: 48px;
  background-color: white;
  border: 1px solid #3871C1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginkh .btnDangKy p{
  margin-top: 15px;
  color: #3871C1;
  font-size: 22px;
  font-weight: 600;
}

.loginkh .div_btn_line{
  margin-top: 20px;
  width: 100%;
  flex-direction:row;
  display: flex;
  justify-content: space-between;
}
.loginkh .div_btn_line p{
  color: #296088;
}
.loginkh .div_btn_line .div_line_or{
  width: 35%;
  height: 25px;
  flex-direction:row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginkh .div_btn_line .div_line_or .line_or{
  width: 100%;
  height: 2px;
  background-color: #3871C1;
}
.loginkh ::placeholder {
  color: #3871C1;
}
.loginkh .div_btn_social{
  width: 100%;
  height: 43px;
  border-radius: 6px;
  border: 2px solid #3871C1;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginkh .div_btn_social a{
  width: 100%;
  height: 43px; 
  flex-direction:row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none
}
.loginkh .div_btn_social a i{
  color: #3871C1;
  font-size: 22px;
  margin-right: 10px;
  /* cursor: pointer; */
}
.loginkh .div_btn_social a p{
  color: #3871C1;
  font-size: 16px;
  margin-top: 15px;
}
.loginkh .fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.loginkh .fa-facebook-square {
  color: blue;
  background-color: #fff;
}
