.taodonhangchitiet  {
  background-color: #F7F7F8;
}
.taodonhangchitiet  .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
  height: 100%;
}
.taodonhangchitiet  .main-home-nv {
  display: flex;
  margin-top: 60px;
  width: 100%;
  flex-direction: column;
}
.taodonhangchitiet  .main-home-nv .title_chucnang{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 10px;
}
.taodonhangchitiet  .main-home-nv .title_chucnang p{
  font-size: 26px;
  font-weight: 600;
  color: #3871C1;
}
.taodonhangchitiet  .main-home-nv .title_chucnang i{
  font-size:26px;
  margin-right: 5px;
  color: #3871C1;
  margin-top: 8px;
}
.taodonhangchitiet  .main-home-nv .line {
  height: 1px;
  background-color: #cccccc;
} 
.taodonhangchitiet  .main-home-nv .body {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}   
.taodonhangchitiet  .main-home-nv .body form{
  display: flex;
  width: 100%;
  flex-direction: row;
} 

.taodonhangchitiet  .main-home-nv .body .container{
  display: flex;
  width: 100%;
  align-self: flex-start;
}

.taodonhangchitiet  .main-home-nv .body .card{
  width: 70%;
} 


.taodonhangchitiet  .main-home-nv .body .tinhtien{
  display: flex;
  width: 24%;
  height: 100%;
  background-color: white;
  position:absolute;
  top: 114px;
  right: 0;
  position: fixed;
  box-shadow: 0px 1px 3px #ccc;
  padding: 10px;
  flex-direction: column;
}   

.taodonhangchitiet .body .tinhtien .header_tinhtien{
  display: flex;
  width: 100%;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
}   
.taodonhangchitiet .body .tinhtien .header_tinhtien .name_duocsi{
  display: flex;
  flex-direction: row;
  color: #3871C1;
}  

.taodonhangchitiet .body .tinhtien .body_tinhtien{
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 5px;
  padding-bottom: 10px;
}   
.taodonhangchitiet .body .tinhtien .body_tinhtien .lineLeft{
  display: flex;
  width: 50%;
  height: 1px;
  background-color:  #D9D9D9;
  align-self: flex-start;
  margin-top: 15px;
}   

.taodonhangchitiet .body .tinhtien .body_tinhtien .line{
  display: flex;
  width: 50%;
  height: 1px;
  background-color:  #D9D9D9;
  align-self: flex-end;
  margin-top: 15px;
}   

.taodonhangchitiet .body .tinhtien .body_tinhtien .item_body{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
} 
.taodonhangchitiet .body .tinhtien .body_tinhtien .list_item_body{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  justify-self: center;
  font-style: italic;
  font-size:14px; 
  padding-left:5px
} 


.taodonhangchitiet .body .tinhtien .body_tinhtien .item_body_list{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 320px;
  overflow-x:hidden;
  overflow-y:auto;
} 


.taodonhangchitiet .body .tinhtien .footer_tinhtien{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
} 

.taodonhangchitiet .body .tinhtien .btnThanhToan{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #007B7C;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  align-items: center;
  justify-content: center;
} 

.taodonhangchitiet  .div_btnTaoDon {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-self:end;
}  

.taodonhangchitiet  .btnTaoDon {
  height: 45px;
  width: 250px;
  font-size: 14px;
  font-weight: 600;
  background-color: #3871C1;
  border-radius: 6px;
  color: white;
  font-style: italic;
  outline: none;
  border: none;
}  