<div class='navbar-expand-lg headerkh'>
  <div class='container-header'>
    <div class='header_first'>
      <a class='hotline'>Hotline Đặt hàng (miễn phí): 19006821</a>
      <div class='information'>
        <a class=''>Cẩm nang mua sắm</a>
        <div class='line'></div>
        <a class=''>Sức khoẻ</a>
        <div class='line'></div>
        <a class=''>Hệ thống nhà thuốc</a>
        <div class='line'></div>
        <a class='language'>
          <img
            src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/quocki.jpeg'
            alt='ảnh thẻ header'
            style='height: 20px;width: 20px; background: white;border-radius:30px;'
          />
          <a class=''>Tiếng Việt</a>
        </a>
        <div class='line'></div>
        <div class='right-bar' id='navbarSupportedContent'>
          {{#if role}}
            <li class='nav-item dropdown row'>
              <img
                src={{avatar}}
                alt='ảnh thẻ header'
                style='height: 20px;width: 20px;border-radius: 28px; margin-top:5px;margin-right:-10px'
              />

              <a
                class='nav-link dropdown-toggle'
                href='#'
                id='navbarDropdown'
                role='button'
                data-toggle='dropdown'
                aria-haspopup='true'
                aria-expanded='false'
              >
                {{username}}
              </a>
              <div class='dropdown-menu'>
                <a class='dropdown-item' href='/danhsachdonhang'>Danh sách đơn
                  hàng</a>
                <div class='dropdown-divider'></div>
                <button class='dropdown-item js-doi-mat-khau-ql'>Đổi mật khẩu</button>
                {{! <a class="dropdown-item" href="#">Đổi mật khẩu</a> }}
                <div class='dropdown-divider'></div>
                <a class='dropdown-item' href='/login'>Đăng xuất</a>
              </div>
            </li>
          {{else}}
            <a class='login' href='/login' style=''>
              Đăng nhập
            </a>
          {{/if}}

        </div>
      </div>
    </div>
    <div class='header_middle row'>
      <a class='logo' href='/home' style='text-decoration: none;'>
        <img
          src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/logo_full.png'
          alt='ảnh thẻ header'
          style='height: 55px;width: 56px; background: white;border-radius:10px; margin-right:5px; padding:5px'
        />
        LenPharmacy
      </a>

      <div class='row col-8 search-bar'>
        <form action=''>
          <input
            type='text'
            id='searchHeader'
            name='searchHeader'
            placeholder='Tìm kiếm trên LenPharmacy'
            required=''
          />
          <button type='submit'><i
              class='fa fa-search'
              aria-hidden='true'
            ></i></button>
        </form>

      </div>

      <div class='row cart'>
        <a class='nav-link active' href='/giohang'>
          <b>Giỏ hàng </b>
          <i class='fa fa-cart-plus iconCart'>
            {{#if numberCart}}
              <div class='numberCart'>
                <span>{{numberCart}}</span>
              </div>
            {{/if}}

          </i>
        </a>
      </div>

    </div>
    <div class='header_last'>
      <div></div>
      <div class='row col-8 search-bar'>
        <a class=''>Mất ngủ</a>
        <div class='line'></div>
        <a class=''>Đau đầu</a>
        <div class='line'></div>
        <a class=''>Sát khuẩn</a>
      </div>
      <div></div>

    </div>

    {{! Model }}
    <div class='model-header-ql js-model-header-ql'>
      <div class='container-model'>
        <div class='icon-close-header-model' style='text-right'>
          <i
            class='js-model-close-ql fa fa-window-close'
            style='color: #078c80;'
          >
          </i>
        </div>
        <div class='main-doi-mat-khau-header'>
          <div class='form-login'>
            <div class='form-group'>
              <label class='control-label'>Mật khẩu cũ<span
                  class='required'
                >(*)</span></label>
              <input
                class='input form-control'
                data-val='true'
                data-val-required='Nhập mật khẩu cũ'
                id='Old_Password'
                name='Old_Password'
                placeholder='Nhập mật khẩu cũ'
                type='password'
              />
            </div>
            <div class='form-group'>
              <label class='control-label'>Mật khẩu mới<span
                  class='required'
                >(*)</span></label>
              <input
                class='input form-control'
                data-val='true'
                data-val-required='Nhập mật khẩu mới'
                id='New_Password'
                name='New_Password'
                placeholder='Nhập mật khẩu mới'
                type='password'
              />
            </div>
            <div class='form-group'>
              <label class='control-label'>Xác nhận mật khẩu<span
                  class='required'
                >(*)</span></label>
              <input
                class='input form-control'
                data-val='true'
                data-val-required='Nhập xác nhận mật khẩu mới'
                id='Confirm_Password'
                name='Confirm_Password'
                placeholder='Xác nhận lại mật khẩu'
                type='password'
              />
            </div>
            <div class='actions'>
              <button
                class='btn btn-action pull-right btn-primary'
                id='btnLuuMatKhau'
                type='submit'
              >Lưu</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const btnDoiMatKhau = document.querySelectorAll(".js-doi-mat-khau-ql"); const
  modelHeader = document.querySelector(".js-model-header-ql"); const
  btnModelClose = document.querySelector(".js-model-close-ql"); function
  showDoiMatKhau() { modelHeader.classList.add("open"); } function
  hideDoiMatKhau() { modelHeader.classList.remove("open"); } for (const
  btnXemLich of btnDoiMatKhau) { btnXemLich.addEventListener("click",
  showDoiMatKhau); } btnModelClose.addEventListener('click', hideDoiMatKhau);
</script>
<script>
  $(document).ready(function () { OnChangePassword(); }); function
  OnChangePassword() { $('#btnLuuMatKhau').click(function () { var old_password
  = $('input[name="Old_Password"]').val(); var new_password =
  $('input[name="New_Password"]').val(); var confirm_password =
  $('input[name="Confirm_Password"]').val(); if (old_password == "" ||
  new_password == "" || confirm_password == "") { alert("Vui lòng nhập đủ thông
  tin !"); } else if (new_password.localeCompare(confirm_password)) { alert("Mật
  khẩu không khớp !"); } else { $.ajax({ url: '/quanly/capnhatmatkhau', type:
  'post', data: { old_password: old_password, confirm_password: confirm_password
  }, dataType: 'json', success: function (result) { alert("Cập nhật thành công
  !"); hideDoiMatKhau(); }, error: function (result) { alert("Mật khẩu cũ không
  hợp lệ !"); } }); } }); }
</script>

<script>
  // step 1 const ipnElement = document.querySelector('#Password') const
  btnElement = document.querySelector('#btnPassword') const iconEye =
  document.querySelector('#iconEye') // step 2
  btnElement.addEventListener('click', function() { // step 3 const currentType
  = ipnElement.getAttribute('type') // step 4 ipnElement.setAttribute( 'type',
  currentType === 'password' ? 'text' : 'password' ) if(currentType
  ==="password"){ iconEye.classList.replace("fa-eye-slash", "fa-eye"); }else{
  iconEye.classList.replace("fa-eye", "fa-eye-slash"); } })
</script>