<div class='menubar'>
  <nav class='navbar navbar-expand-lg navbar-light'>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <div class='dropdown-divider'></div>
      <ul class='navbar-nav flex-column'>
        <a class='logo_header' href='/quanly/home'>
          <img
            src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/logo_main.png'
            alt='logo_header'
            class='logo-header'
            style='height: 43px; width: 43px;'
          />
          <p
            style='margin:3px 0 0 10px; color:#4B4B4B;font-size: 18px;font-weight: 600;'
          >Len Pharmacy</p>
        </a>
        <div class='dropdown-divider'></div>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/taodonhang'
            data-target='#submenu-1'
            aria-controls='submenu-1'
          ><i class='fa fa-calendar-plus-o'></i>
            <b>Tạo đơn hàng</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            data-target='#submenu-2'
            aria-controls='submenu-2'
            href='/quanly/quanlykhachhang'
          >
            <i class='fa fa-address-card-o'></i>
            <b>Quản lí thông tin khách hàng</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/quanlydonhang'
            data-target='#submenu-3'
            aria-controls='submenu-3'
          ><i class='fa fa-newspaper-o'></i>
            <b>Quản lí đơn hàng</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/thongke'
            data-target='#submenu-4'
            aria-controls='submenu-4'
          ><i class='fa fa-bar-chart'></i>
            <b>Thống kê</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/xemthongtincanhan'
            data-target='#submenu-5'
            aria-controls='submenu5'
          ><i class='fa fa-id-badge' style='color: #228E3B;'></i>
            <b style='color: #228E3B;'>Xem thông tin cá nhân</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/login'
            data-target='#submenu-5'
            aria-controls='submenu5'
          ><i class='fa fa-lock' style='color: orange;'></i>
            <b style='color: orange;'>Đổi mật khẩu</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/quanly/login'
            data-target='#submenu-5'
            aria-controls='submenu5'
          ><i class='fa fa-sign-out' style='color: red;'></i>
            <b style='color: red;'>Đăng xuất</b>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>