<div class="adminquanlynhapkho">
{{!-- Admin --}}
            {{>menubar}}
        <div class="home-header-main">
                {{>header}}
            <div class="main-home">
                <div class="title_chucnang">
                    <i class='fa fa-shopping-basket'></i>
                    <p>Quản lý nhập kho</p>
                </div>
               
            </div>
        </div>
 </div>
        
        
