<div class=" row quanlychuyenkhoa">
        <div class="col-sm-2">
            {{>menubar}}
        </div>
        <div class="col-sm-10">
            <div>
                {{>header}}
            </div>
            <div class="main-home ">
                 <div class="container mt-3">
                    <h3>Quản Lý Chuyên Khoa</h3>
                    <div class="line" ></div>
                    <br/>
             

                    <div class="tab-content">
                      <div id="home" class="container"><br />
                            <div class="row" style="margin-left: 0px;">
                                <div class="title-line"></div>
                                <h5>Thông tin chuyên khoa</h5>
                            </div>
                            <form action="/quanlychuyenkhoa/{{chuyenkhoa.machuyenkhoa}}" method="POST" >
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="sel1">Mã chuyên khoa: </label>
                                            <input type="text" name="machuyenkhoa"
                                                class="form-control" placeholder="Mã chuyên khoa..." value="{{chuyenkhoa.machuyenkhoa}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="sel1">Tên chuyên khoa: </label>
                                            <input  type="text" name="tenchuyenkhoa"
                                                class="form-control" placeholder="Tên chuyên khoa..." value="{{chuyenkhoa.tenchuyenkhoa}}" >
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                
                                    <div class="col-lg-6" style="display: flex; justify-content: center;">
                                        <button type="submit" onclick="LuuChinhSuaKhoa(this);" class="btn btn-warning">CHỈNH
                                            SỬA</button>
                                           
                                    </div>
                                    <div class="col-lg-6" style="display: flex; justify-content: center;" >
                                        <button type="button" class="btn btn-secondary">LÀM MỚI</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                       
                </div>
            </div>
            </div>
        </div>
 </div>
