<div class=" home">
{{!-- Nhân viên --}}
            {{>menubarnv}}

         <div class="home-header-main">
                {{>header}}
            <div class="main-home-nv ">
                <div class="title_chucnang">
                    <p>Tạo đơn hàng</p>
                </div>
               
               
            </div>
        </div>

 </div>
        
        
