<div class="homekh">
    <div>
        {{>headerkh}}
    </div>

     <div class="main-home">
        <div class="main-body">
            
        </div>

        
    </div>
        
 </div>
        
        
