<div class=" row home">
        <div class="col-sm-2">
            {{>menubar}}
        </div>
        <div class="col-sm-10">
            <div>
                {{>header}}
            </div>
            <div class="main-home ">
                <div class="div-menu">
                    <div class="col-sm-3 div-center" >
                        <a class="div-item" href="/quanlybacsi">
                            <div style="height: 70px; margin: 0 5px; padding: 15px 0;" >
                                <label id="text-item-chitiet" style="font-weight: 600; font-size: 16px; margin-top: 10px;">QUẢN LÝ BÁC SĨ</label>
                                <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/tym.png" style="float:right"/>
                            </div>
                            <div class="line"></div>
                            <label id="text-item-chitiet" style="margin-left: 10px;">Chi tiết</label>
                            
                        </a>
                    </div>
                    <div class="col-sm-3 div-center">
                        <a class="div-item" href="/quanlychuyenkhoa">
                            <div style="height: 70px; margin: 0 5px; padding: 15px 0;" >
                                <label id="text-item-chitiet" style="font-weight: 600; font-size: 16px; margin-top: 10px;">QUẢN LÝ CHUYÊN KHOA</label>
                                <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/tym.png" style="float:right"/>
                            </div>
                            <div class="line"></div>
                            <label id="text-item-chitiet" style="margin-left: 10px;">Chi tiết</label>
                            
                        </a>
                    </div>
                     <div class="col-sm-3 div-center">
                        <a class="div-item" href="/quanlybenhnhan">
                            <div style="height: 70px; margin: 0 5px; padding: 15px 0;" >
                                <label id="text-item-chitiet" style="font-weight: 600; font-size: 16px; margin-top: 10px;">QUẢN LÝ BỆNH NHÂN</label>
                                <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/tym.png" style="float:right"/>
                            </div>
                            <div class="line"></div>
                            <label id="text-item-chitiet" style="margin-left: 10px;">Chi tiết</label>
                            
                        </a>
                    </div>
                    <div class="col-sm-3 div-center">
                        <a class="div-item"  href="/thongke">
                            <div style="height: 70px; margin: 0 5px; padding: 15px 0;" >
                                <label id="text-item-chitiet" style="font-weight: 600; font-size: 16px; margin-top: 10px;">THỐNG KÊ</label>
                                <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/tym.png" style="float:right"/>
                            </div>
                            <div class="line"></div>
                            <label id="text-item-chitiet" style="margin-left: 10px;">Chi tiết</label>
                            
                        <a/>
                    </div>
                </div>
                <div class="div-center" >
                    <img src="https://cnm-lab3.s3.ap-southeast-1.amazonaws.com/bg_home.png" style="height: 450px; width: 1050px; box-shadow: 0 0 10px rgba(7, 140, 128, 0.7);"/>
                </div>
               
            </div>
        </div>
 </div>
        
        
