<div class=" row home">
{{!-- Nhân viên --}}
        {{!-- <div class="col-sm-2">
            {{>menubarnv}}
        </div> --}}
{{!-- Admin --}}
        <div class="col-sm-2">
            {{>menubar}}
        </div>

        <div class="col-sm-10">
            <div  style="margin-left: 2px;">
                {{>header}}
            </div>
            <div class="main-home ">
               
               
            </div>
        </div>
 </div>
        
        
