<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Len Pharmacy</title>
    <link
      rel='icon'
      type='image/png'
      href='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/logo_main.png'
    />

    {{! Thư viện }}
    <script src='http://code.jquery.com/jquery-1.9.1.js'></script>

    <script
      src='https://kit.fontawesome.com/a076d05399.js'
      crossorigin='anonymous'
    ></script>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js'
    ></script>

    {{! ===============================Table==================== }}
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css'
    />
    <script
      type='text/javascript'
      charset='utf8'
      src='https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js'
    ></script>
    {{! ===============================End Table==================== }}
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
      integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
      crossorigin='anonymous'
    />

    <link
      href='https://fonts.googleapis.com/css?family=Lato'
      rel='stylesheet'
      type='text/css'
    />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'
    ></script>
    {{! CSS }}
    <link rel='stylesheet' href='/libs/menuStyle.css' />

    <link rel='stylesheet' href='/css/login.css' />
    <link rel='stylesheet' href='/css/loginkh.css' />
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/headerkh.css' />
    <link rel='stylesheet' href='/css/home.css' />
    <link rel='stylesheet' href='/css/homekh.css' />
    <link rel='stylesheet' href='/css/thongke.css' />
    <link rel='stylesheet' href='/css/ql.css' />
    <link rel='stylesheet' href='/css/register.css' />
    <link rel='stylesheet' href='/css/quanlykhachhangds.css' />
    <link rel='stylesheet' href='/css/quanlydonhangds.css' />
    <link rel='stylesheet' href='/css/thongkeds.css' />
    <link rel='stylesheet' href='/css/homeadmin.css' />
    <link rel='stylesheet' href='/css/adminquanlythuoc.css' />
    <link rel='stylesheet' href='/css/adminquanlynhanvien.css' />
    <link rel='stylesheet' href='/css/adminquanlykhohang.css' />
    <link rel='stylesheet' href='/css/adminquanlydoanhthu.css' />
    <link rel='stylesheet' href='/css/adminquanlynhapkho.css' />
    <link rel='stylesheet' href='/css/chitietsanphamkh.css' />
    <link rel='stylesheet' href='/css/giohangkh.css' />
    <link rel='stylesheet' href='/css/taodonhang.css' />
    <link rel='stylesheet' href='/css/adminthemnhapkho.css' />
    <link rel='stylesheet' href='/css/adminthongbao.css' />
    <link rel='stylesheet' href='/css/xemthongtincanhands.css' />
    <link rel='stylesheet' href='/css/doimatkhau.css' />
    <link rel='stylesheet' href='/css/taodonhangchitiet.css' />
    <link rel='stylesheet' href='/css/quanlyxemchitietdonhangds.css' />
    <link rel='stylesheet' href='/css/adminloadthemthuocmoi.css' />
    <link
      rel='stylesheet'
      href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'
    />

    <script
      src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'
    ></script>

    <script src='/js/monmet.min.js'></script>

    <script>
      $(document).ready(function () { $('#table_id').DataTable(); });
    </script>
  </head>
  <body>
    {{{body}}}

    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
      integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
      integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl'
      crossorigin='anonymous'
    ></script>
  </body>
</html>